/* style.css */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
  }
  
  .container {
    text-align: center;
  }
  
  h1 {
    margin-bottom: 20px;
    font-size: 55px;
    font-weight: bolder;
    color: rgb(215, 216, 221);
  }
  
  .board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
  }
  
  .cell {
    background-color: #fff;
    border: 2px solid #333;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    cursor: pointer;
  }
  
  .cell.taken {
    pointer-events: none;
  }
  
  .winner-text {
    margin-top: 20px;
    font-size: 1.5rem;
    color: rgb(233, 240, 233);
  }
  
  button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
  }
  body{
background-image: url(helo.jpg);
background-repeat: no-repeat;
  }
  